div {
    background: #ffdb4d;
    position: relative;
}

div:before{
    content: '';
    width: 213px;
    height: 132px;
    position: absolute;
    top: 4px;
    right: 4px;
    border:  rgba(0, 0, 0, .3) 1px dashed;
    outline:  rgba(255, 255, 255, .5) 1px dashed;
}

div:after{
    content: '';
    width: 223px;
    height: 142px;
    position: absolute;
    background: radial-gradient(circle at 14px 50%, #fff 6px, transparent 6px),
    radial-gradient(circle at 0 0, #fff 9px, transparent 9px),
    radial-gradient(circle at 100% 0, #fff 9px, transparent 9px),
    radial-gradient(circle at 0 100%, #fff 9px, transparent 9px),
    radial-gradient(circle at 100% 100%, #fff 9px, transparent 9px);
}